@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');
@font-face{
  font-family: Gil;
  src: ('https://github.com/intrepid-codes/testings/blob/main/Gilroy-Black.ttf');
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Gil;
}
html, body{
  height: 100%;
  width: 100%;
}
.mousefollower{
  display: block;
  height: 2rem !important;
  width: 2rem !important;
}
nav{
  height: 8vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6vw;
  background-color: #FFF;
  position: fixed;
  top: 0;
  z-index: 20;
}
#page1{
  height: 100vh;
  width: 100vw;
  background-color: #000;
  position: relative;
}
#page2{
  height: fit-content;
  width: 100vw;
  position: relative;
  background-color: #dadada;
}
#page3{
  height: fit-content;
  width: 100vw;
  position: relative;
  background-color: #dadada;
}
#page4{
  height: fit-content;
  width: 100vw;
  position: relative;
  background-color: #000;
  display: flex;
  padding: 4vh 0rem;
  align-items: center;
  justify-content: start;
  color: #fff !important;
}
#page5{
  height: fit-content;
  width: 100vw;
  position: relative;
  background-color: #dadada !important;
}
#brand{
  display: flex;
  align-items: center;
  justify-content: center;
}
#brand img:nth-child(1){
  width: 9vh;
}
#brand img:nth-child(2){
  width: 14vh;
}
#nav-links{
  display: flex;
  gap: 1rem;
}
#nav-links h4 a{
  text-decoration: none;
  color: #000;
  z-index: 9;
  position: relative;
}
#nav-links p{
  display: none;
}
#nav-links h4{
  padding: .4rem 1.4rem .8rem 1.4rem;
  border: 1px solid #8a8a89;
  border-radius: 50px;
  position: relative;
  height: 2rem;
  overflow: hidden;
}
#nav-links h4 a span{
  height: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  transform: translateY(-100%);
  transition: all ease .3s;
}
#nav-links h4:hover span{
  transform: translateY(0%);
}
#nav-links h4::after{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: -100%;
  left: 0;
  background-color: #000;
  border-radius: 50%;
  transition: all ease .3s;
}
#nav-links h4:hover:after{
  bottom: 0;
  border-radius: 0;
}
#nav-links h4:hover a{
  color: #fff;
}
#icon, #icons{
  display: none;
  transition: .6s;
}
.magic{
  height: 3rem;
  padding: 0rem .8rem;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 18px;
  font-size: 1.2rem;
  position: relative;
  overflow: hidden;
  will-change: transform;
}
.magic::after{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 100%;
  left: 0;
  background-color: #fff;
  transition: cubic-bezier(.87,0,.13,1) .6s;
}
.magic span{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  padding: 0rem .8rem;
  z-index: 9;
  position: relative;
  transition: cubic-bezier(.87,0,.13,1) .6s;
  transform: translateY(-100%);
}
.magic span i{
  padding: 0rem 0px 0px 6px;
  font-size: 1.6rem;
}
.magic span img{
  width: 2rem;
  margin-left: 8px;
}
.magic:hover:after{
  top: 0;
}
.magic:hover span{
  transform: translateY(0%);
  color: #000;
}
#loader{
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: #000;
  top: 0;
  left: 0;
  z-index: 99;
  display: grid;
  place-items: center;
  
}
#portfolio span{
  font-size: 20vw;
  color: #fff;
  display: inline-block;
}
#portfolioContent{
  height: 90%;
  width: 100%;
  display: flex;
  padding: 0rem 6vw;
  align-items: center;
  flex-direction: column;
  justify-content: end;
  gap: 2rem;
}
#portfolioContent h1{
  font-family: Borel;
  font-weight: 900;
  font-size: 4vh;
  color: #fff;
}
#portfolioContent img{
  height: 75%;
  width: 84%;
  object-fit: cover;
  object-position: top;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
}
#btmPure{
  position: absolute;
  bottom: 6%;
  left: 50%;
  transform: translate(-50%, -0%);
  height: 2rem;
  width: 18rem;
  background-color: #FFF;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .5rem 0rem 0rem 0rem;
  font-family: Borel;
  font-weight: 800;
  font-size: .6rem;
}

#ptopContent h4, #page2Wrapper h4{
  font-family: Borel;
  font-size: .8rem;
}
#ptopContent h1 img{
  width: 16vh;
}

#ptopContent{
  padding: 2rem 6vw;
}
#dev, #des{
  width: fit-content;
  padding: .7rem 1.6rem 0rem 1.6rem;
  color: #fff;
  background-color: #000;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
#dev>h3, #des>h3{
  font-family: Borel;
}

#imagesDev{
  padding: 1rem;
  background-color: #000;
  display: inline-block;
  width: fit-content;
  border-radius: 8px;
  margin-top: 1rem;
}
#imagesDev img{
  object-fit: cover;
  aspect-ratio: 4/4;
  width: 4rem;
  padding: .6rem;
  margin: 1rem;
  border-radius: 10px;
  background-color: #fff;
}
#devlopment{
  margin-top: 2rem;
}
.pText, .pText2, .pText4{
  padding-top: 4vh;
}
.pText>h1, .pText2>h1, .pText3>h1, .pText4>h1{
  height: fit-content;
  width: fit-content;
  line-height: 1;
  letter-spacing: 1px;
  font-size: 8vh;
}
.pText>h1>div, .pText2>h1>div, .pText3>h1>div, .pText4>h1>div{
  display: flex;
  align-items: center;
  justify-content: center;
  display: inline-block;
  width: fit-content;
  overflow: hidden;
  line-height: 1;
  word-spacing: 20px;
  letter-spacing: 1px;
}
.pText>h1>div>span, .pText2>h1>div>span, .pText3>h1>div>span, .pText4>h1>div>span{
  display: inline-block;
}
#page2Wrapper{
  padding: 6vh 6vw;
}
#imgContainer{
  margin-top: 2rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}
#imgContainer img{
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}
#imgContainer img:nth-child(4){
  width: 56%;
}
#workDiv{
  margin-top: 6vh;
  height: fit-content;
  width: 100%;
}
#cAnimate{
  height: 4.4rem;
  width: fit-content;
  overflow: hidden;
}
#cAnimate span{
  display: block;
  font-family: Borel;
  font-size:6vh;
  height: 4.6rem;
  transition: cubic-bezier(.87,0,.13,1) .6s;
}
#cAnimate:hover span{
  transform: translateY(-100%);
}
#workImg img{
  z-index: 5;
}
#p5Wrapper{
  padding: 4vh 6vw;
  background-color: #000;
}
#textAnimation{
  width: fit-content;
  overflow: hidden;
}
#textAnimation div{
  height: fit-content;
  width: fit-content;
  position: relative;
}
#textAnimation div span{
  width: fit-content;
  font-size: 7vh;
  white-space: nowrap;
  opacity: .1;
  color: #fff;
  overflow: hidden;
}
#textAnimation div span:nth-child(2){
  width: fit-content;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  width: 0%;
  color: #fff;
}







@media (max-width: 940px){
  .mousefollower{
    display: none;
  }
  #icons{
    display: flex;
    color: blue;
    font-size: 4vh;
    position: fixed;
    bottom: 0;
    margin: 2rem;
    gap: 1rem;
  }
  #nav-links p{
    display: block;
    margin: 1rem 2rem;
  }
  #icon{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.6vh;
    height: 6.2vh;
    width: 6.2vh;
    padding: 6px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
  }
  #nav-links{
    display: block;
    position: fixed;
    height: 100vh;
    left: 100%;
    top: 8vh;
    width: 100vw;
    background-color: #fff;
    transition: .6s;
    padding-top: 8vh;
  }
  #nav-links h4 a span:nth-child(2){
    display: block;
  }
  #nav-links h4{
    padding: 0;
    margin: .2rem;
    margin-left: 2rem;
    height: 8vh;
    width: fit-content;
    border: none;
    font-size: 6vh;
    border-radius: 0px;
  }
  #nav-links h4 span{
    display: flex;
    flex-direction: column;
    height: 8vh !important;
    width: fit-content;
    transform: translateY(0%) !important;
    transition: cubic-bezier(.87,0,.13,1) .6s !important;
  }
  #nav-links h4::after{
    display: none;
  }
  #nav-links h4:hover a{
    color: #000;
  }
  #nav-links h4:hover a span{
    transform: translateY(-100%) !important;
  }
  #portfolioContent{
    justify-content: center;
    gap: 1rem;
  }
  #portfolioContent img{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 52vh;
    width: 42vh;
  }
  #imagesDev{
    display: inline-block;
    padding: 0!important;
    background-color: #dadada !important;
  }
  #imagesDev img{
    margin: .2rem;
  }
  #imgContainer{
    display: flex;
    flex-direction: column;
  }
  #imgContainer img{
    width: 100%;  
  }
  #imgContainer img:nth-child(4){
  width: 100%;
}
}